<!--The content below is only a placeholder and can be replaced.-->

<div class="main">

  <div class="centered" *ngIf="!downloaded">
    <a [href]="'https://slack.com/oauth/authorize?scope=chat:write:user&client_id=' + clientId + '&redirect_uri=' + redirectUri">
      Download now!
    </a>

    <p>All we need is some permission from you on Slack.</p>
  </div>

  <div class="centered" *ngIf="downloaded">
    <div class="downloaded">Thanks for downloading!</div>
  </div>
</div>

<div class="background" [class.hidden]="backgroundHidden">
  <img src="assets/alpha.png" alt="">
</div>

<div class="video">
  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/viQ0iBHyrH8?controls=0&autoplay=1&showinfo=0&rel=0&loop=1&playlist=asdsadsa" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<router-outlet></router-outlet>
